<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Liste des employés</h1>
    <table>

        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr th:if="${employees.empty}">
                <td colspan="3">Aucun employée en base de données</td>
            </tr>
            <tr th:each="employee: ${employees}">
                <td><span th:text="${employee.firstName}"> Prénom </span></td>
                <td><span th:text="${employee.lastName}"> Nom </span></td>
                <td><a th:href="@{/deleteEmployee/{id}(id=${employee.id})}">Supprimer</a></td>
                <td><a th:href="@{/updateForm/{id}(id=${employee.id})}">Modifier</a></td>
            </tr>
        </tbody>

    </table>

    <a th:href="@{/formsAdd}"><button >Ajouter un employé</button></a>

</body>
</html>